<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crop Disease Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="main-container">

    <div class="card">
        <h1>🌿 Crop Disease Detection</h1>
        <p class="subtitle">Upload a leaf image to detect disease instantly</p>

        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput" required>
            
            <label for="fileInput" class="upload-box">
                📁 Click to Upload Image
            </label>

            <button type="submit" class="btn">Predict</button>
        </form>

        {% if result %}
        <div class="result-box">
            <h2>{{ result }}</h2>
            <img src="{{ img_path }}" alt="Uploaded Image">
        </div>
        {% endif %}
    </div>

</div>

</body>
</html>